/* Resetando estilos padrão do navegador */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* Importando fontes do Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&family=Roboto:wght@400;500;700&family=Oswald:wght@400;500&display=swap");

/* Estilos Gerais */
body {
  background: #121212; /* Fundo escuro */
  color: #e0e0e0; /* Texto claro */
  font-family: "Roboto", sans-serif;
  margin: 40px;
  padding-top: 70px;
}

/* Cabeçalho */
header {
  background: #121212;
  animation: gradientAnimation 5s infinite alternate;
  padding: 60px 0;
  text-align: center;
  position: relative;
  margin-bottom: 60px;
  background-size: 400% 400%;
}

@keyframes gradientAnimation {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 56px;
  color: #fff;
  text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.7), 0 0 25px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h3 {
  font-weight: 400;
  color: #b2bec3;
  margin-top: 20px;
}

/* GIF do Golden Axe */
.header-content .gif img {
  width: 50%;
  height: auto;
  max-width: 300px;
  margin: 0 auto;
}

/* Navegação */
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 12px 30px;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(20px);
  border-radius: 16px;
  transition: 0.3s ease-out;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

ul li {
  margin-right: 25px;
  padding: 10px;
}

ul li:last-child {
  margin-right: 0;
}

a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
}

a:hover {
  background-color: #00b894;
  color: #121212;
}

/* Principal */
main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #282c34;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  position: relative;
  overflow: hidden;
}

/* Contêiner de Jogos */
.game-container {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
  padding-bottom: 20px;
  overflow-x: auto;
  flex-direction: row;
  align-items: baseline;
}

/* Estilo para cada Jogo */
.game {
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  text-align: center;
  border: 2px solid #333;
  width: 220px;
  flex-shrink: 0;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.game img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 15px;
  border-radius: 5px;
}

.game:hover {
  transform: scale(1.05);
}

.game button {
  padding: 10px 10px;
  background-color: #00b894;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.game button:hover {
  background-color: #019f80;
  transform: translateY(3px);
}

/* Formulário */
form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

label {
  display: block;
  margin-bottom: 12px;
  font-size: 16px;
  color: #b2bec3;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 2px solid #444;
  background-color: #222;
  color: #fff;
  font-size: 16px;
}

textarea {
  resize: vertical;
  height: 150px;
}

button {
  padding: 12px;
  border-radius: 8px;
  background: #00b894;
  color: white;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #019f80;
  transform: translateY(4px);
}

/* Rodapé */
footer {
  background-color: #111;
  padding: 30px 0;
  text-align: center;
  margin-top: 60px;
}

small {
  opacity: 0.6;
  font-weight: 300;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  margin: 15% auto;
  padding: 20px;
  border: none;
  width: 80%;
  max-width: 450px;
  position: relative;
  text-align: center;
  background-color: #333;
  border-radius: 10px;
}

.modal-img {
  max-width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: contain;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 10px;
  cursor: pointer;
  color: #fff;
}

.close-button:hover {
  color: #ff0000;
}

/* Responsividade */
@media screen and (max-width: 700px) {
  body {
    margin: 10px;
  }

  h1 {
    font-size: 36px;
  }

  .menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: fixed;
    top: 15px;
    right: 20px;
    z-index: 1100;
  }

  .menu-icon .bar {
    width: 28px;
    height: 4px;
    background-color: #00b894;
    margin: 4px 0;
    border-radius: 4px;
    transition: 0.4s;
  }

  .menu-icon.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-6px, 6px);
  }

  .menu-icon.active .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-icon.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-6px, -6px);
  }

  ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #282c34;
    width: 100%;
  }

  ul.active {
    display: flex;
  }

  ul li {
    margin: 10px 0;
    text-align: center;
  }
}
